<div class="button bg-{{bg}} fg-{{fg}}" title="{{^text_basic}}{{text}}{{/text_basic}}{{text_basic}}">
	<div class="shape icon-{{shape}} {{#shape_is_button}}shape-is-button{{/shape_is_button}}"></div>
	<div class="icon icon-{{icon}}">{{text}}</div>
</div>
