<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>Symbolic Controller Database</title>
	<link href="https://fonts.bunny.net/css?family=noto-sans-symbols:700" rel="stylesheet"/>
	<style>
		body {
			background: #EEE;
			color: #111;
			font-family: sans-serif;
			padding: 0 16px;
		}
		table {
			border-spacing: 0;
			border: 1px #000 solid;
		}
		td, th {
			text-align: center;
			padding: 4px;
			border: none;
			border-right: 1px #000A solid;
		}
		td:last-child, th:last-child {
			border-right: none;
		}
		.button {
			position: relative;
			width: 24px;
			height: 24px;
			margin: auto;
			filter: drop-shadow(2px 2px 0px #0006);
			font-family: 'Noto Sans Symbols', sans-serif;
		}
		.shape, .icon {
			width: 24px;
			height: 24px;
			position: absolute;
			top: 0; left: 0;
		}
		.shape {
			--mask-color: var(--bg);
		}
		.icon {
			--mask-color: var(--fg);
			color: var(--fg);
			text-align: center;
			overflow: visible;
			white-space: pre;
			font-weight: bold;
			line-height: 24px;
			vertical-align: middle;
			font-size: 12px;
		}
		p {
			max-width: 560px;
		}
		th {
			border-bottom: 1px #000 solid;
		}
		th[colspan] {
			border-bottom: none;
		}
		.constrain {
			padding-left: 0;
			padding-right: 0;
			width: 45px;
		}
		tbody tr:nth-child(2n) {
			background: #0001;
		}
		thead tr {
			background: #0132;
		}
		{{#colors}}
		.bg-{{name}} {
			--bg: #{{bg}};
		}
		.fg-{{name}} {
			--fg: #{{fg}};
		}
		{{/colors}}
		{{#icons}}
		.icon-{{symbol}} {
			mask-image: url({{icon}});
			-webkit-mask-image: url({{icon}});
			background: var(--mask-color);
			font-size: 0;
		}
		.shape.icon-{{symbol}}.shape-is-button + .icon {
			display: none;
		}
		{{/icons}}
		.icon-home, .icon-skip_prev, .icon-skip_next, .icon-view, .icon-menu {
			transform: scale(0.75);
		}
	</style>
</head>
<body>
	<h1>Symbolic Controller DB</h1>
	<p>
	The <a href="https://github.com/gabomdq/SDL_GameControllerDB">SDL controller DB</a>
	provides useful abstract descriptions of <em>where</em> buttons are and how
	controllers behave, but hammers them all into the terminology of an Xbox
	360 controller.
	</p>
	<p>
	Showing users inputs on their controller using only the SDL DB is a
	poor and messy experience for users and developers alike.
	</p>
	<p>
	What if we had a free database of what controllers <em>look</em> like, in
	addition to how they're shaped and interfaced with?
	</p>
	<a href="https://github.com/unascribed/SymbolicControllerDB">More info and contributing</a>
	<hr>
	<table>
		<thead>
		<tr>
			<th rowspan="2">Controller</th>
			<th colspan="4">Primary Cluster</th>
			<th colspan="2">Shoulder</th>
			<th colspan="2">Trigger</th>
			<th colspan="4">D-Pad</th>
			<th colspan="2">Sticks</th>
			<th colspan="3">Meta</th>
		</tr>
		<tr>
			<th class="constrain">South<br>(A)</th>
			<th class="constrain">East<br>(B)</th>
			<th class="constrain">West<br>(X)</th>
			<th class="constrain">North<br>(Y)</th>
			<th class="constrain">Left</th>
			<th class="constrain">Right</th>
			<th class="constrain">Left</th>
			<th class="constrain">Right</th>
			<th class="constrain">Up</th>
			<th class="constrain">Down</th>
			<th class="constrain">Left</th>
			<th class="constrain">Right</th>
			<th class="constrain">Left</th>
			<th class="constrain">Right</th>
			<th class="constrain">Back</th>
			<th class="constrain">Guide</th>
			<th class="constrain">Start</th>
		</tr>
		</thead>
		<tbody>
		{{#controllers}}
		<tr>
			<td>{{name}}</td>
			<td class="constrain">{{{a}}}</td>
			<td class="constrain">{{{b}}}</td>
			<td class="constrain">{{{x}}}</td>
			<td class="constrain">{{{y}}}</td>
			<td class="constrain">{{{leftshoulder}}}</td>
			<td class="constrain">{{{rightshoulder}}}</td>
			<td class="constrain">{{{lefttrigger}}}</td>
			<td class="constrain">{{{righttrigger}}}</td>
			<td class="constrain">{{{dpup}}}</td>
			<td class="constrain">{{{dpdown}}}</td>
			<td class="constrain">{{{dpleft}}}</td>
			<td class="constrain">{{{dpright}}}</td>
			<td class="constrain">{{{leftstick}}}</td>
			<td class="constrain">{{{rightstick}}}</td>
			<td class="constrain">{{{back}}}</td>
			<td class="constrain">{{{guide}}}</td>
			<td class="constrain">{{{start}}}</td>
		</tr>
		{{/controllers}}
		</tbody>
	</table>
</body>
</html>
