<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>Symbolic Controller Database</title>
	<link href="https://fonts.bunny.net/css?family=noto-sans-symbols:700" rel="stylesheet"/>
	<style>
		body {
			background: #EEE;
			color: #111;
			font-family: sans-serif;
			padding: 0 16px;
		}
		@media(prefers-color-scheme: dark) {
			body {
				background: #333;
				color: #EEE;
			}
			a:link {
				color: #0AF;
			}
			.invdark {
				filter: invert(100%);
			}
		}
		table {
			border-spacing: 0;
			border: 1px #000 solid;
			background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAIAQMAAAD+wSzIAAAABlBMVEVmZmaZmZmoZ+Z2AAAAD0lEQVQIW2PkZ4TADxAIABIoBAXF3RsYAAAAAElFTkSuQmCC');
			background-size: 16px 16px;
			image-rendering: -moz-crisp-edges;
			image-rendering: crisp-edges;
			image-rendering: pixelated;
			color: #000;
		}
		td, th {
			text-align: center;
			padding: 4px;
			border: none;
			border-right: 1px #000A solid;
		}
		td:first-child, th {
			background: #FFF8;
		}
		td:last-child, th:last-child {
			border-right: none;
		}
		.button {
			position: relative;
			width: 24px;
			height: 24px;
			margin: auto;
			filter: drop-shadow(2px 2px 0px #0006);
			font-family: 'Noto Sans Symbols', sans-serif;
		}
		.button-text {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translateX(-50%) translateY(-50%);
			white-space: pre;
			font-weight: bold;
			line-height: 12px;
			font-size: 12px;
			margin-top: -1px;
		}
		.shape, .icon {
			width: 24px;
			height: 24px;
			position: absolute;
			top: 0; left: 0;
		}
		.shape {
			--mask-color: var(--bg);
		}
		.icon {
			--mask-color: var(--fg);
			color: var(--fg);
			overflow: visible;
		}
		p {
			max-width: 560px;
		}
		th {
			border-bottom: 1px #000 solid;
		}
		th[colspan] {
			border-bottom: none;
		}
		.constrain {
			padding-left: 0;
			padding-right: 0;
			width: 45px;
		}
		tbody tr:nth-child(2n) {
			background: #FFF3;
		}
		thead tr {
			background: #0136;
		}
		.swatch {
			display: inline-block;
			width: 18px;
			height: 18px;
			margin-right: 4px;
			vertical-align: middle;
		}
		.swatch.fg {
			background: var(--fg);
		}
		.swatch.bg {
			background: var(--bg);
		}
		.color-code {
			font-family: monospace;
			background: #FFFA;
			font-weight: bold;
			padding: 4px;
			vertical-align: middle;
		}
		{{#colors}}
		.bg-{{name}} {
			--bg: #{{bg}};
		}
		.fg-{{name}} {
			--fg: #{{fg}};
		}
		{{/colors}}
		{{#icons}}
		.icon-{{symbol}} {
			mask-image: url({{icon}});
			-webkit-mask-image: url({{icon}});
			background: var(--mask-color);
			font-size: 0;
		}
		.shape.icon-{{symbol}}.shape-is-button + .icon {
			display: none;
		}
		{{/icons}}
		.icon-home, .icon-skip_prev, .icon-skip_next, .icon-view, .icon-menu {
			transform: scale(0.75);
		}

		.button-mapping {
			border-bottom: 2px transparent solid;
		}
		.convention-accept {
			border-bottom: 2px #5F5 solid;
		}
		.convention-back {
			border-bottom: 2px #F55 solid;
		}
	</style>
</head>
<body>
	<h1>
		<img class="invdark" style="width: 48px; height: 48px; vertical-align: middle" src="https://cdn.jsdelivr.net/npm/@mdi/svg@7.0.96/svg/microsoft-xbox-controller-off.svg">
		Symbolic Controller DB
		<img class="invdark" style="width: 48px; height: 48px; vertical-align: middle" src="https://cdn.jsdelivr.net/npm/@mdi/svg@7.0.96/svg/controller.svg">
		<img class="invdark" style="width: 48px; height: 48px; vertical-align: middle" src="https://cdn.jsdelivr.net/npm/@mdi/svg@7.0.96/svg/gamepad-square.svg">
		<img class="invdark" style="width: 48px; height: 48px; vertical-align: middle" src="https://cdn.jsdelivr.net/npm/@mdi/svg@7.0.96/svg/controller-classic.svg">
	</h1>
	<p>
	The <a href="https://github.com/gabomdq/SDL_GameControllerDB">SDL controller DB</a>
	provides useful abstract descriptions of <em>where</em> buttons are and how
	controllers behave, but hammers them all into the terminology of an Xbox
	360 controller.
	</p>
	<p>
	Showing users inputs on their controller using only the SDL DB is a
	poor and messy experience for users and developers alike.
	</p>
	<p>
	What if we had a free database of what controllers <em>look</em> like, in
	addition to how they're shaped and interfaced with?
	</p>
	<a href="https://github.com/unascribed/SymbolicControllerDB">More info and contributing</a>
	<hr>
	<h2>Currently defined controllers</h2>
	Buttons with a green underline are the conventional "accept" button. Buttons with a red underline
	are the conventional "back" or "cancel" button.
	<table>
		<thead>
		<tr>
			<th rowspan="2">Controller</th>
			<th colspan="4">Primary Cluster</th>
			<th colspan="2">Shoulder</th>
			<th colspan="2">Trigger</th>
			<th colspan="4">D-Pad</th>
			<th colspan="2">Sticks</th>
			<th colspan="3">Meta</th>
		</tr>
		<tr>
			<th class="constrain">South<br>(A)</th>
			<th class="constrain">East<br>(B)</th>
			<th class="constrain">West<br>(X)</th>
			<th class="constrain">North<br>(Y)</th>
			<th class="constrain">Left</th>
			<th class="constrain">Right</th>
			<th class="constrain">Left</th>
			<th class="constrain">Right</th>
			<th class="constrain">Up</th>
			<th class="constrain">Down</th>
			<th class="constrain">Left</th>
			<th class="constrain">Right</th>
			<th class="constrain">Left</th>
			<th class="constrain">Right</th>
			<th class="constrain">Back</th>
			<th class="constrain">Guide</th>
			<th class="constrain">Start</th>
		</tr>
		</thead>
		<tbody>
		{{#controllers}}
		<tr>
			<td>{{name}}</td>
			<td class="constrain button-mapping {{conventions.a}}">{{{a}}}</td>
			<td class="constrain button-mapping {{conventions.b}}">{{{b}}}</td>
			<td class="constrain button-mapping {{conventions.x}}">{{{x}}}</td>
			<td class="constrain button-mapping {{conventions.y}}">{{{y}}}</td>
			<td class="constrain button-mapping {{conventions.leftshoulder}}">{{{leftshoulder}}}</td>
			<td class="constrain button-mapping {{conventions.rightshoulder}}">{{{rightshoulder}}}</td>
			<td class="constrain button-mapping {{conventions.lefttrigger}}">{{{lefttrigger}}}</td>
			<td class="constrain button-mapping {{conventions.righttrigger}}">{{{righttrigger}}}</td>
			<td class="constrain button-mapping {{conventions.dpup}}">{{{dpup}}}</td>
			<td class="constrain button-mapping {{conventions.dpdown}}">{{{dpdown}}}</td>
			<td class="constrain button-mapping {{conventions.dpleft}}">{{{dpleft}}}</td>
			<td class="constrain button-mapping {{conventions.dpright}}">{{{dpright}}}</td>
			<td class="constrain button-mapping {{conventions.leftstick}}">{{{leftstick}}}</td>
			<td class="constrain button-mapping {{conventions.rightstick}}">{{{rightstick}}}</td>
			<td class="constrain button-mapping {{conventions.back}}">{{{back}}}</td>
			<td class="constrain button-mapping {{conventions.guide}}">{{{guide}}}</td>
			<td class="constrain button-mapping {{conventions.start}}">{{{start}}}</td>
		</tr>
		{{/controllers}}
		</tbody>
	</table>
	<h2>Default colors</h2>
	<table>
		<thead>
		<tr>
			<th>Name</th>
			<th>Background</th>
			<th>Foreground</th>
		</tr>
		</thead>
		<tbody>
		{{#colors}}
		<tr>
			<td>{{name}}</td>
			<td class="bg-{{name}}"><div class="swatch bg"></div> <span class="color-code">#{{bg}}</span></td>
			<td class="fg-{{name}}"><div class="swatch fg"></div> <span class="color-code">#{{fg}}</span></td>
		</tr>
		{{/colors}}
		</tbody>
	</table>
	<h2>Currently defined shapes and icons</h2>
	<table>
		<thead>
		<tr>
			<th>Name</th>
			<th>Suggested<br>Appearance</th>
		</tr>
		</thead>
		<tbody>
		{{#shapes}}
		<tr>
			<td>{{this}}</td>
			<td><div class="button bg-white fg-white"><div class="shape icon-{{this}}"></div></div></td>
		</tr>
		{{/shapes}}
		</tbody>
	</table>
	<hr>
	Icons by <img class="invdark" style="width: 24px; height: 24px; vertical-align: middle" src="https://cdn.jsdelivr.net/npm/@mdi/svg@7.0.96/svg/vector-square.svg"> <a href="https://materialdesignicons.com">Material Design Icons</a>
</body>
</html>
